#jogo{
    width:320px;
    height:318px;
    border:solid 10px;
    margin-left: 30px;
    border-radius: 10px;
    color: rgb(29, 64, 139);
}
 
.linha{
    height:100px;
    border-bottom:solid 1px;
}
 
.casa{
    width:100px;
    height:100%;
    border-right:solid 1px;
    float:left;
}
